<mat-card class="example-card" appearance="outlined" style="height: 100%;box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);">
    <mat-card-header style="display: flex; justify-content: space-between; align-items: center;">
        <mat-card-title>Fixed Expense</mat-card-title>
        <mat-icon style="cursor: pointer;" (click)="openAddFixedExpenseDialog()">add</mat-icon>
      </mat-card-header>
      <br>
      <mat-card-content style="height: 15rem;">
        <p-toast></p-toast>
        <p-table [value]="(fixedExpenseBehave$ |async) || [] " dataKey="id" editMode="row" scrollHeight="250px"
          [tableStyle]="{'min-width': '25rem'}">
          <ng-template pTemplate="header">
            <tr>
              <th >Title</th> 
              <th >Cost</th>
              <th style="max-width: 100px;"></th>
            </tr>
          </ng-template>
          <ng-template pTemplate="body" let-fixedExpense let-editing="editing" let-ri="rowIndex">
            <tr [pEditableRow]="fixedExpense">
              <td  >
                <p-cellEditor>
                  <ng-template pTemplate="input">
                    <input pInputText type="text" [(ngModel)]="fixedExpense.title" />
                  </ng-template>
                  <ng-template pTemplate="output">
                    {{fixedExpense.title}}
                  </ng-template>
                </p-cellEditor>
              </td>
              <td >
                <p-cellEditor>
                  <ng-template pTemplate="input">
                    <p-inputNumber inputId="spent" [(ngModel)]="fixedExpense.spent" [min]="0"  mode="decimal" [minFractionDigits]="1"  [maxFractionDigits]="2"/>
                  </ng-template>
                  <ng-template pTemplate="output">
                    {{fixedExpense.spent | currency: 'USD'}}
                  </ng-template>
                </p-cellEditor>
              </td>
              <td style="max-width: 100px;">
                <div class="flex align-items-center justify-content-center gap-2">
                  <button *ngIf="!editing" pButton pRipple type="button" pInitEditableRow icon="pi pi-pencil"
                    (click)="onRowEditInit(fixedExpense)" class="p-button-rounded p-button-text">
                  </button>
                  <button *ngIf="editing" pButton pRipple type="button" pSaveEditableRow icon="pi pi-check"
                    (click)="onRowEditSave(fixedExpense)" class="p-button-rounded p-button-text p-button-success mr-2">
                  </button>
                  <button *ngIf="editing" pButton pRipple type="button" pCancelEditableRow icon="pi pi-times"
                    (click)="onRowEditCancel(fixedExpense, ri)" class="p-button-rounded p-button-text p-button-danger">
                  </button>
                  <button   *ngIf="editing" pButton pRipple type="button" pDeleteEditableRow  icon="pi pi-trash"
                (click)="deleteFixedExpense(fixedExpense.id, fixedExpense.spent)" class="p-button-rounded p-button-text">
              </button>
                </div>
              </td>
            </tr>
          </ng-template>
        </p-table>
        <p style="padding-top: 15px; font-size: large;"><b>After Expense:</b> {{(budgetBehave$ | async)?.afterExpense | currency: 'USD'}}</p>
      </mat-card-content>
<br>

<mat-card class="example-card"  style="height: 100%;box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);">
  <mat-card-header style="display: flex; justify-content: space-between; align-items: center;">
      <mat-card-title>Category</mat-card-title>
      <mat-icon style="cursor: pointer;" (click)="openAddCatDialog()">add</mat-icon>
    </mat-card-header>
    <br>
    <mat-card-content style="height: 100%;">
      <p-toast></p-toast>
      <p-table [value]="(categoryBehave$ |async) || [] " dataKey="id" editMode="row" scrollHeight="300px"
        [tableStyle]="{'min-width': '25rem'}">
        <ng-template pTemplate="header">
          <tr>
            <th>Title </th>
            <th>Total </th>
            <th>Spent </th>
            <th>Remaining </th>
            <th> </th>
          </tr>
        </ng-template>
        <ng-template pTemplate="body" let-category let-editing="editing" let-ri="rowIndex">
          <tr [pEditableRow]="category">
            <td  >
              <p-cellEditor>
                <ng-template pTemplate="input">
                  <input pInputText type="text" [(ngModel)]="category.title" />
                </ng-template>
                <ng-template pTemplate="output">
                  {{category.title}}
                </ng-template>
              </p-cellEditor>
            </td>
            <td >
              <p-cellEditor>
                <ng-template pTemplate="input">
                  <p-inputNumber inputId="total" [(ngModel)]="category.total" [min]="0"  mode="decimal" [minFractionDigits]="1"  [maxFractionDigits]="2"/>
                </ng-template>
                <ng-template pTemplate="output">
                  {{category.total | currency: 'USD'}}
                </ng-template>
              </p-cellEditor>
            </td>
            <td> -{{category.spent | currency: 'USD'}}</td>
            <td >
              <p-cellEditor>
                <ng-template pTemplate="input">
                  <p-inputNumber inputId="remaining" [(ngModel)]="category.remaining" [min]="0"  mode="decimal" [minFractionDigits]="1"  [maxFractionDigits]="2"/>
                </ng-template>
                <ng-template pTemplate="output">
                  {{category.remaining | currency: 'USD'}}
                </ng-template>
              </p-cellEditor>
            </td>
            <td style="max-width: 100px;">
              <div class="flex align-items-center justify-content-center gap-2">
                <button *ngIf="!editing" pButton pRipple type="button" pInitEditableRow icon="pi pi-pencil"
                  (click)="catOnRowEditInit(category)" class="p-button-rounded p-button-text">
                </button>
                <button *ngIf="editing" pButton pRipple type="button" pSaveEditableRow icon="pi pi-check"
                  (click)="catOnRowEditSave(category)" class="p-button-rounded p-button-text p-button-success mr-2">
                </button>
                <button *ngIf="editing" pButton pRipple type="button" pCancelEditableRow icon="pi pi-times"
                  (click)="catOnRowEditCancel(category, ri)" class="p-button-rounded p-button-text p-button-danger">
                </button>
                <button   *ngIf="editing" pButton pRipple type="button" pDeleteEditableRow  icon="pi pi-trash"
                (click)="deleteCat(category.id)" class="p-button-rounded p-button-text">
            </button>
              </div>
            </td>
          </tr>
        </ng-template>
      </p-table>
      
    </mat-card-content>
    
  <!-- <mat-card-header style="display: flex; justify-content: space-between; align-items: center;">
    <mat-card-title>Category</mat-card-title>
    <mat-icon style="cursor: pointer;" (click)="openAddCatDialog()">add</mat-icon>
  </mat-card-header>
  <mat-card-content style="height: 27rem;"> 
    <p-table [value]="(categoryBehave$ |async) || [] " [tableStyle]="{ 'min-width': '25rem'}" [scrollable]="true" scrollHeight="300px">
      <ng-template pTemplate="header">
        <tr>
          <th>Title </th>
          <th>Total </th>
          <th>Spent </th>
          <th>Remaining </th>
          <th> </th>
          <th> </th>
        </tr>
      </ng-template>
      <ng-template pTemplate="body" let-category let-editing="editing" let-ri="rowIndex">
        <tr [pEditableRow]="category">
          <td  >
            <p-cellEditor>
              <ng-template pTemplate="input">
                <input pInputText type="text" [(ngModel)]="category.title" />
              </ng-template>
              <ng-template pTemplate="output">
                {{category.title}}
              </ng-template>
            </p-cellEditor>
          </td>
          <td >
            <p-cellEditor>
              <ng-template pTemplate="input">
                <p-inputNumber inputId="total" [(ngModel)]="category.total" [min]="0"  mode="decimal" [minFractionDigits]="1"  [maxFractionDigits]="2"/>
              </ng-template>
              <ng-template pTemplate="output">
                {{category.total | currency: 'USD'}}
              </ng-template>
            </p-cellEditor>
          </td>
          <td> -{{category.spent | currency: 'USD'}}</td>
          <td >
            <p-cellEditor>
              <ng-template pTemplate="input">
                <p-inputNumber inputId="remaining" [(ngModel)]="category.remaining" [min]="0"  mode="decimal" [minFractionDigits]="1"  [maxFractionDigits]="2"/>
              </ng-template>
              <ng-template pTemplate="output">
                {{category.remaining | currency: 'USD'}}
              </ng-template>
            </p-cellEditor>
          </td>
          <td style="max-width: 100px;">
            <div class="flex align-items-center justify-content-center gap-2">
              <button *ngIf="!editing" pButton pRipple type="button" pInitEditableRow icon="pi pi-pencil"
                (click)="catOnRowEditInit(category)" class="p-button-rounded p-button-text">
              </button>
              <button *ngIf="editing" pButton pRipple type="button" pSaveEditableRow icon="pi pi-check"
                (click)="catOnRowEditSave(category)" class="p-button-rounded p-button-text p-button-success mr-2">
              </button>
              <button *ngIf="editing" pButton pRipple type="button" pCancelEditableRow icon="pi pi-times"
                (click)="catOnRowEditCancel(category, ri)" class="p-button-rounded p-button-text p-button-danger">
              </button>
              <button   *ngIf="editing" pButton pRipple type="button" pDeleteEditableRow  icon="pi pi-trash"
              (click)="deleteCat(category.id)" class="p-button-rounded p-button-text">
          </button>
            </div>
          </td>
        </tr>
      </ng-template>
      <ng-template pTemplate="body" let-category>
        <tr>
          <td>{{category.title }}</td>
          <td>{{category.total | currency: 'USD'}}</td>
          <td> -{{category.spent | currency: 'USD'}}</td>
          <td>{{category.remaining | currency: 'USD'}}</td>
          <td>{{category.id }}</td>
          <td><button  pButton pRipple type="button"icon="pi pi-pencil"
          (click)="openEditCatDialog(category)" class="p-button-rounded p-button-text">
        </button>
          </td>
          <td><button  pButton pRipple type="button"icon="pi pi-trash"
            (click)="deleteCat(category.id)" class="p-button-rounded p-button-text">
          </button>
            </td>
        </tr>
      </ng-template>
    </p-table>
  </mat-card-content> -->



</mat-card>