<h2 mat-dialog-title>Add Transaction</h2>
<mat-dialog-content class="mat-typography" style="width: 500px;">
  <div
    style="
      display: flex;
      gap: 50px;
      padding: 30px 0px;
      flex-direction: column;
      width: 100%;
    "
  >
    <p-floatLabel>
      <input pInputText id="title" [(ngModel)]="date" />
      <label for="title">Enter Date</label>
    </p-floatLabel>

    <p-floatLabel>
      <input pInputText id="description" [(ngModel)]="description" />
      <label for="description">Enter description</label>
    </p-floatLabel>

    <p-floatLabel>
    <p-dropdown 
    [options]="categoryValue" 
    [(ngModel)]="selectedCategory"
    [checkmark]="true"  
    optionLabel="title" 
    [showClear]="true"
    placeholder="Select a Category">
    </p-dropdown>
    <label for="category">Select Category</label>
  </p-floatLabel>

    <p-floatLabel>
      <p-inputNumber inputId="spent" [(ngModel)]="spent" [min]="0" />
      <label for="spent">Enter amount spent </label>
    </p-floatLabel>
    <!-- <input type="submit" value="Submit"> -->
  </div>

</mat-dialog-content>

<mat-dialog-actions align="end">
  <button mat-button mat-dialog-close>Cancel</button>
  <button
    mat-button
    [mat-dialog-close]="true"
    cdkFocusInitial
    (click)="addTransaction(selectedCategory.title)"
  >
    Add
  </button>
</mat-dialog-actions>
