<app-navbar></app-navbar>
<div class="grid nested-grid" style="width: 100%; ">
    @if(budgetBehave$ | async; as budget) {
  
      <!-- First Column: Category Section -->
      <div class="col-4" style="height: calc(100vh - 60px)">
        <div class="text-center p-3 border-round-sm h-full  font-bold">
          <app-category></app-category>
        </div>
      </div>
  
      <!-- Second Column: Nested Grid -->
      <div class="col-8" >
        <div class="grid">
  
          <!-- Cards Row -->
          <div class="col-4">
            <div class="text-center p-3 border-round-sm  font-bold">
              <mat-card appearance="outlined" class="shadow-4" style="height: 6rem; width: 100%; display: flex; justify-content: center; align-items: center;">
                <mat-card-header style="padding-bottom: 1rem;">
                  <mat-card-title>Total Balance</mat-card-title>
                </mat-card-header>
                <mat-card-content style="font-size: 25px;">
                  {{budget.totalBalance | currency: 'USD'}}
                </mat-card-content>
              </mat-card>
            </div>
          </div>
          <div class="col-4">
            <div class="text-center p-3 border-round-sm  font-bold">
              <mat-card appearance="outlined" class="shadow-4" style="height: 6rem; width: 100%; display: flex; justify-content: center; align-items: center;">
                <mat-card-header style="padding-bottom: 1rem;">
                  <mat-card-title>Salary ({{budget.payPeriod}})</mat-card-title>
                </mat-card-header>
                <mat-card-content style="font-size: 25px;">{{budget.salary | currency: 'USD'}}</mat-card-content>
              </mat-card>
            </div>
          </div>
          <div class="col-4">
            <div class="text-center p-3 border-round-sm  font-bold">
              <mat-card appearance="outlined" class="shadow-4" style="height: 6rem; width: 100%; display: flex; justify-content: center; align-items: center;">
                <mat-card-header style="padding-bottom: 1rem;">
                  <mat-card-title>After Expense</mat-card-title>
                </mat-card-header>
                <mat-card-content style="font-size: 25px;">{{budget.afterExpense | currency: 'USD'}}</mat-card-content>
              </mat-card>
            </div>
          </div>
  
                  <!-- Transaction History -->
                  <div class="col-12" style="height: calc(100vh - 210px);">
                    <div class="text-center p-2 border-round-sm font-bold" style="flex: 1; height: 100%;">
                      <app-transaction-history></app-transaction-history>
                    </div>
                  </div>
  
        </div>

      </div>
  
    } @else {
      loading...
    }
  </div>
  








