<h2 mat-dialog-title>Add Category</h2>
<mat-dialog-content class="mat-typography" style="width: 100%;">
  <div style="display: flex; gap: 30px; padding: 20px 0px; flex-direction: column; width: 50%;">

    <p-floatLabel>
      <input pInputText id="title" [(ngModel)]="title" />
      <label for="title">Title</label>
  </p-floatLabel>

        <p-floatLabel>
          
          <p-inputNumber inputId="totalAmount" [(ngModel)]="cost"  [min]="0"  mode="decimal" [minFractionDigits]="1"  [maxFractionDigits]="2"/>
          <label for="totalAmount"> Total Cost</label>
      </p-floatLabel>
      
        <!-- <input type="submit" value="Submit"> -->
    </div>
</mat-dialog-content>

<mat-dialog-actions align="end">
  <button mat-button mat-dialog-close>Cancel</button>
  <button mat-button [mat-dialog-close]="true" cdkFocusInitial (click)="addFixedExpense()">Add</button>
</mat-dialog-actions>


