<h2 mat-dialog-title>Settings</h2>
<mat-dialog-content class="mat-typography" style="width: 500px; height: 600px;">
  <div style="
      display: flex;
      gap: 50px;
      padding: 30px 0px;
      flex-direction: column;
      width: 100%;
      justify-content: center;
      align-items: center;
    ">
    <p-floatLabel>
      <p-inputNumber inputId="totalBalance" [(ngModel)]="totalBalance" [min]="0" mode="decimal" [minFractionDigits]="1"
        [maxFractionDigits]="2" [style]="{ width: '25rem' }"/>
      <label for="spent">Enter Total Balance </label>
    </p-floatLabel>

    <p-floatLabel>
      <p-inputNumber inputId="salery" [(ngModel)]="salary" [min]="0" mode="decimal" [minFractionDigits]="1"
        [maxFractionDigits]="2" [style]="{ width: '25rem' }"/>
      <label for="spent">Enter Salery </label>
    </p-floatLabel>

    <p-floatLabel>
      <p-dropdown [options]="payPeriods" [(ngModel)]="payPeriod" [checkmark]="true" 
        [showClear]="true" placeholder="Select Pay-period" [style]="{ width: '25rem' }" >
      </p-dropdown>
      <label for="payPeriod">Select Pay-period</label>
    </p-floatLabel>

    <p-floatLabel>
      <p-dropdown [options]="payResets" [(ngModel)]="payReset" [checkmark]="true" 
        [showClear]="true" placeholder="Select Reset-period" [style]="{ width: '25rem' }" >
      </p-dropdown>
      <label for="payReset">Select reset-period</label>
    </p-floatLabel>

  </div>
</mat-dialog-content>

<mat-dialog-actions align="end">
  <button mat-button mat-dialog-close>Cancel</button>
  <button mat-button  cdkFocusInitial  (click)="saveSettings() ">Save</button>
</mat-dialog-actions>

